Name: pgcheck
Version: 1.2
Author: zed448 <z448> <zed448@icloud.com>
Architecture: iphoneos-arm
Package: pgcheck
Section: Utility
Maintainer: zed448 <z448> <zed448@icloud.com>
Homepage: http://load.sh
Description: check if device contains Pegasus Spyware files
Depends: perl

